@use "sass:map";
@use "@/scss/utils/vars.scss" as *;
@use "@/scss/utils/mixins.scss" as *;

.cart-table {
    text-align: center;

    &__wrap {
        width: 100%;
        padding: 30px 0 24px 0;

        @include respond-to (tablet-l) {
            padding: 10px 0;
        }

        &-row {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            color: map.get($colors, dark-blue);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            padding: 17px 25px;
            border-bottom: 1px solid map.get($colors, border);

            &:hover {
                background: map.get($colors, overlay-form);
            }

            @include respond-to (tablet-l) {
                grid-template-columns: 1fr;
                gap: 12px;
                padding: 15px;
                text-align: left;

                &:hover {
                    background: none;
                }
            }
        }
    }

    &__header {
        background: map.get($colors, bg4);
        line-height: 2;

        @include respond-to (tablet-l) {
            display: none;
        }

        &-title {
            display: flex;
            align-items: center;
            gap: 2px;
            color: map.get($colors, dark-blue);
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            justify-content: center;

            svg {
                width: 15px;
                height: 10px;
                color: map.get($colors, grey);
                transform: rotate(90deg);
            }
        }
    }

    &__product {
        &-name {
            @include respond-to (tablet-l) {
                font-weight: 700;
                font-size: 16px;
                padding-bottom: 8px;
                margin-bottom: 5px;
            }
        }

        &-amount,
        &-price,
        &-price--total {
            @include respond-to (tablet-l) {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    font-weight: 600;
                    color: map.get($colors, grey);
                }
            }
        }

        &-amount {
            @include respond-to (tablet-l) {
                &::before {
                    content: "Количество:";
                }
            }
        }

        &-price {
            @include respond-to (tablet-l) {
                &::before {
                    content: "Цена:";
                }
            }
        }

        &-price--total {
            @include respond-to (tablet-l) {
                margin-top: 5px;
                padding-top: 10px;
                font-weight: 700;
                font-size: 16px;

                &::before {
                    content: "Итого:";
                    color: map.get($colors, dark-blue);
                }
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        gap: 55px;

        @include respond-to (tablet-l) {
            flex-wrap: wrap;
            gap: 40px;
        }
    }

    &__continue-shopping-btn {
        display: flex;
        align-items: center;
        gap: 6px;
        width: 100%;
        max-width: 250px;
        color: map.get($colors, green);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        text-wrap: nowrap;

        @include respond-to (tablet) {
            justify-content: center;
            max-width: unset;
        }

        svg {
            width: 14px;
            height: 14px;
        }
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 28px;

        @include respond-to (tablet-l) {
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            gap: 40px;
        }

        @include respond-to (tablet) {
            flex-direction: column-reverse;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__result-sum {
        &-text {
            color: map.get($colors, dark-blue);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
        }

        &-amount {
            color: map.get($colors, green);
            font-family: Montserrat;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
        }

        &-currency {
            color: map.get($colors, green);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
        }
    }

    &__checkout-btn {
        font-size: 16px;
        font-weight: 700;
        padding: 15px 59px;

        @include respond-to (tablet) {
            margin-right: auto;
            width: 100%;
        }
    }
}

.ta-l {
    margin-right: auto;
}