@use 'sass:map';
@use '@/scss/utils/vars' as *;
@use '@/scss/utils/mixins' as *;

.news-hero {
    margin-bottom: 61px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        @include respond-to (laptop-m) {
            flex-wrap: wrap;
        }
    }

    &__banner {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__content {
        width: 100%;
        max-width: 392px;

        @include respond-to (laptop-m) {
            max-width: unset;
        }
    }

    &__date {
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 500;
        font-size: 13px;
        color: map.get($colors, grey);
        display: block;
        margin-bottom: 27px;
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        color: map.get($colors, dark-blue);
        margin-bottom: 24px;
    }

    &__innertext {
        margin-bottom: 15px;
    }

    &__paragraph {
        font-weight: 500;
        font-size: 16px;
        color: map.get($colors, dark-blue);
        line-height: 1.5;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
