@use "sass:map";
@use "@/scss/reuse.scss";
@use "@/scss/utils/vars.scss" as *;
@use "@/scss/utils/mixins.scss" as *;
@use '../../../../node_modules/swiper/swiper-bundle.min.css';

@use "@/scss/partials/header.scss";
@use "@/scss/partials/hero.scss";
@use "@/scss/partials/breadcrumbs.scss";
@use "@/scss/partials/ui/logo.scss";
@use "@/scss/partials/ui/button.scss";
@use "@/scss/partials/ui/tabs.scss";
@use "@/scss/partials/counter.scss";
@use "@/scss/partials/ui/play-icon.scss";
@use "@/scss/partials/video-block.scss";
@use "@/scss/partials/contacts.scss";
@use "@/scss/partials/ui/socials.scss";
@use "@/scss/partials/ui/social.scss";
@use "@/scss/partials/footer.scss";

@use './paydel-swiper.scss';

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.hero {
    &__banner {
        height: 300px;
    }

    &__title {
        margin-bottom: 0;
        margin-top: 22px;
    }

    &__btn-play {
        display: none;
    }
}

.tabs {
    &__header {
        height: unset;
        margin-bottom: 51px;

        &-wrap {
            justify-content: space-around;
            margin-bottom: 5px;
        }
    }

    &__tab {
        width: 250px;
        gap: 8px;


        &::after {
            bottom: -5px;
        }


        &-icon {
            width: 47px;
            height: 47px;

            svg {
                width: 40px;
                height: 45px;
            }
        }
    }
}