@use "sass:map";

$colors: (
    bg1: #F5F5F550,
    bg2: #fcfcfc,
    bg3: #fbfbfb,
    bg4: rgba(249, 249, 249, 0.7),
    green: #337D5A,
    salad: #93B474,
    dark-blue: #1A2F3F,
    grey: #8A8A8A,
    red-flag: #DD133B,
    orange-flag: #E1843E,
    overlay: rgba(0, 0, 0, 0.45),
    overlay-2: rgba(0, 0, 0, 0.2),
    overlay-green: rgba(51, 125, 90, 0.95),
    border: rgba(0, 0, 0, 0.08),
    slider-arrow: #c4c4c4,
    icon-border: rgba(147, 180, 116, 0.15),
);

$breakpoints: (
    desktop: 1920px,
    laptop-l: 1440px,
    laptop-m: 1200px,
    laptop: 992px,
    tablet-l: 768px,
    tablet: 576px,
    mobile: 425px,
    mobile-m: 375px,
    mobile-s: 320px,
);