@use "sass:map";
@use "@/scss/reuse.scss";
@use "@/scss/utils/vars.scss" as *;
@use "@/scss/utils/mixins.scss" as *;

@use "@/scss/partials/header.scss";
@use "@/scss/partials/hero.scss";
@use "@/scss/partials/breadcrumbs.scss";
@use "@/scss/partials/ui/logo.scss";
@use "@/scss/partials/ui/button.scss";
@use "@/scss/partials/ui/play-icon.scss";
@use "@/scss/partials/ui/swiper-controls.scss";
@use "@/scss/partials/ui/link.scss";
@use "@/scss/partials/manufacturer.scss";
@use "@/scss/partials/counter.scss";
@use "@/scss/partials/eco-hero.scss";
@use "@/scss/partials/news.scss";
@use "@/scss/partials/contacts.scss";
@use "@/scss/partials/ui/socials.scss";
@use "@/scss/partials/ui/social.scss";
@use "@/scss/partials/footer.scss";

@use './history.scss';

body {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.about {
    &__hero {
        margin-bottom: 0;
    }

    &__manufacturer {
        background: #fff;

        .manufacturer__leftside {
            max-width: 520px;
        }
    }
}