<div class="cart-table__wrap">
    <div class="cart-table__header">
        <div class="cart-table__wrap-row">
            <div class="cart-table__header-title ta-l">
                Товар
                <svg>
                    <use href="#icon-range-arrow"></use>
                </svg>
            </div>
            <div class="cart-table__header-title">
                Кол-во
                <svg>
                    <use href="#icon-range-arrow"></use>
                </svg>
            </div>
            <div class="cart-table__header-title">
                Цена за товар
                <svg>
                    <use href="#icon-range-arrow"></use>
                </svg>
            </div>
            <div class="cart-table__header-title">
                Итоговая стоимость
                <svg>
                    <use href="#icon-range-arrow"></use>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="cart-table__footer">
    {{#if continueShopping}}
    <a href="{{baseUrl 'pages/catalog/index.html'}}" class="cart-table__continue-shopping-btn transparent-btn">
        <svg>
            <use href="#icon-slider-arrow"></use>
        </svg>
        <span>
            Продолжить покупки
        </span>
    </a>
    {{/if}}
    <div class="cart-table__summary">
        <div class="cart-table__result-sum">
            <span class="cart-table__result-sum-text">
                Всего
                <span class="cart-table__result-sum-amount">
                    0
                </span>
                <span class="cart-table__result-sum-currency">
                    грн.
                </span>
            </span>
        </div>
        {{#if checkout}}
        <a href="{{baseUrl link}}" class="cart-table__checkout-btn main-btn">
            <span>
                Оформить заказ
            </span>
        </a>
        {{/if}}
    </div>
</div>