<div class="container">
    <div class="contacts__wrap">
        <div class="contacts__leftside">
            <h2 class="contacts__title">
                Контакты
            </h2>
            <div class="contacts__info">
                <div class="contacts__social-links">
                    <div class="contacts__tel">
                        <div class="contacts__phone-icon">
                            <svg>
                                <use href="#icon-phone"></use>
                            </svg>
                        </div>
                        <div class="contacts__tel-links">
                            <a href="tel:+380957111111">+38 (095) 711 11 11</a>
                            <a href="tel:+380957111111">+38 (095) 711 11 11</a>
                        </div>
                    </div>
                    <div class="contacts__social">
                        {{> partials/socials }}
                    </div>
                </div>
                <div class="contacts__mail">
                    <svg>
                        <use href="#icon-mail"></use>
                    </svg>
                    <a href="mailto:nuts@nbsc.com.ua">
                        nuts@nbsc.com.ua
                    </a>
                </div>
                <div class="contacts__adress">
                    <div class="contacts__adress-icon">
                        <svg>
                            <use href="#icon-home"></use>
                        </svg>
                    </div>
                    <div class="contacts__adress-info">
                        <h6 class="contacts__adress-title">
                            Офис и отдел продаж
                        </h6>
                        <span class="contacts__adress-text contasts__adress-city">
                            Украина, г. Одесса,
                        </span>
                        <span class="contacts__adress-text contasts__adress-street">
                            ул. Космонавтов, 32
                        </span>
                    </div>
                </div>
                <div class="contacts__prod-adress">
                    <div class="contacts__prod-adress-icon">
                        <svg>
                            <use href="#icon-tree"></use>
                        </svg>
                    </div>
                    <div class="contacts__prod-adress-info">
                        <h6 class="contacts__prod-adress-title">
                            Производство
                        </h6>
                        <span class="contacts__prod-adress-text contasts__prod-adress-city">
                            Украина, Одесская обл,
                        </span>
                        <span class="contacts__prod-adress-text contasts__prod-adress-street">
                            с. Яськи, ул. Центральная, 232
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__rightside">
            <div class="contacts__map">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>