<div class="eco-hero__wrap">
    <div class="eco-hero__bg">
        <div class="eco-hero__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <img src="img/partials/eco-bg-1.png" alt="bg">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <img src="img/partials/eco-bg-2.png" alt="bg">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <img src="img/partials/eco-bg-3.png" alt="bg">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="eco-hero__content">
        <div class="eco-hero__icon">
            <svg>
                <use href="#icon-eco"></use>
            </svg>
        </div>
        <h2 class="eco-hero__title">
            Эко продукция
        </h2>
        <span class="eco-hero__desc">
            Выращиваем каждое деревцо с любовью, на экологически
            чистой земле, без использования пестицидов и химии
        </span>
    </div>
</div>