<div class="container">

    <div class="footer__top">
        <div class="footer__logo">
            {{> partials/logo }}
        </div>
        <div class="footer__links">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/catalog/index.html'}}" class="nav__item-link">Магазин</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/corporate-clients/index.html'}}" class="nav__item-link">Корпоративным
                            клиентам</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/payment-and-delivery/index.html'}}" class="nav__item-link">Оплата и
                            доставка</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/about/index.html'}}" class="nav__item-link">О производстве</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/news-and-posts/index.html'}}" class="nav__item-link">Новости и
                            статьи</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{baseUrl 'pages/gallery/index.html'}}" class="nav__item-link">Галерея</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="footer__line"></div>
<div class="container">
    <div class="footer__bottom">
        <div class="footer__creater">
            <span class="black">
                Разработано <span><span class="green bolt">AVADA</span><span class="green">MEDIA</span>
                </span>
        </div>
        <div class="footer__copy">
            <span>Copyright © 2019. Все права защищены</span>
        </div>
        <div class="footer__socials">
            {{> partials/social }}
        </div>
    </div>

</div>

</div>