<div class="container">
    <div class="gallery__wrap">
        {{#if galleryHead}}
        <div class="gallery__head">
            <h2 class="gallery__title">
                Галерея
            </h2>
            <span class="gallery__desc">
                Кадры социальной активности компании
            </span>
        </div>
        {{/if}}
        <div class="gallery__grid">
            <div class="gallery__card gallery__card-large">
                <div class="gallery__card-hidden-content">
                    <div class="gallery__card-img">
                        <picture>
                            <img src="/img/gallery/img-1.png" alt="card-preview">
                        </picture>
                    </div>
                    <div class="gallery__card-text-content">
                        <h4 class="gallery__card-hidden-title gallery__card-title">
                            SIAL Paris 2018
                        </h4>
                        <span class="gallery__card-hidden-desc gallery__card-desc">
                            В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании
                            правительства Швеции, мы побывали на крупнейшей продовольственной выставке Европы <span>SIAL
                                Paris 2018</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="gallery__card gallery__card-text gallery__card-short">
                <div class="gallery__card-hidden-content">
                    <div class="gallery__card-img">
                        <picture>
                            <img src="/img/gallery/img-2.png" alt="card-preview">
                        </picture>
                    </div>
                    <div class="gallery__card-text-content">
                        <h4 class="gallery__card-hidden-title gallery__card-title">
                            Фермеры Украины
                        </h4>
                        <span class="gallery__card-hidden-desc gallery__card-desc">
                            Как бывший экспедитор выращивает грецкий орех, фундук
                            и трюфель в одном саду
                        </span>
                    </div>
                </div>
            </div>
            <div class="gallery__card gallery__card-video gallery__card-w100 ">
                <div class="gallery__card-video-content">
                    <div class="gallery__card-video-preview">
                        <picture>
                            <img src="/img/gallery/img-3.png" alt="preview">
                        </picture>
                    </div>
                    <div class="gallery__card-video-textcontent">
                        <div class="gallery__card-play-icon">
                            {{> partials/play-icon}}
                        </div>
                        <h4 class="gallery__card-video-title gallery__card-title">
                            Проект UBHDP
                        </h4>
                        <span class="gallery__card-video-desc gallery__card-desc">
                            Вчера к нам приезжал американский агроном Рон , спасибо Мельнику Евгению и проекту UBHDP за
                            возможность получить консультацию
                            от мировых специалистов!
                        </span>
                    </div>
                    <div class="gallery__card-video-wrap">
                        <video src="/video/perspective-o.mp4" controls></video>
                    </div>
                </div>
            </div>
            <div class="gallery__card gallery__card-text">
                <div class="gallery__card-hidden-content">
                    <div class="gallery__card-img">
                        <picture>
                            <img src="/img/gallery/img-4.png" alt="card-preview">
                        </picture>
                    </div>
                    <div class="gallery__card-text-content">
                        <h4 class="gallery__card-hidden-title gallery__card-title">
                            Обработка горчицы
                        </h4>
                        <span class="gallery__card-hidden-desc gallery__card-desc">
                            Последняя обработка горчицы , дальше пчелы
                            будут делать свою работу !
                        </span>
                    </div>
                </div>
            </div>
            <div class="gallery__card gallery__card-text">
                <div class="gallery__card-hidden-content">
                    <div class="gallery__card-img">
                        <picture>
                            <img src="/img/gallery/img-5.png" alt="card-preview">
                        </picture>
                    </div>
                    <div class="gallery__card-text-content">
                        <h4 class="gallery__card-hidden-title gallery__card-title">
                            Берлин
                        </h4>
                        <span class="gallery__card-hidden-desc gallery__card-desc">
                            Посещение Берлинского оптового рынка ,
                            совместно сспециалистами ITC
                        </span>
                    </div>
                </div>
            </div>
            <div class="gallery__card gallery__card-video">
                <div class="gallery__card-video-content">
                    <div class="gallery__card-video-preview">
                        <picture>
                            <img src="/img/gallery/img-6.png" alt="preview">
                        </picture>
                    </div>
                    <div class="gallery__card-video-textcontent">
                        <div class="gallery__card-play-icon">
                            {{> partials/play-icon}}
                        </div>
                        <h4 class="gallery__card-video-title gallery__card-title">
                            Конференция «Плодоводство»
                        </h4>
                        <span class="gallery__card-video-desc gallery__card-desc">
                            Последняя обработка горчицы , дальше пчелы
                            будут делать свою работу !
                        </span>
                    </div>
                    <div class="gallery__card-video-wrap">
                        <video src="/video/perspective-o.mp4" controls></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>