<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="{{baseUrl 'pages/catalog/index.html'}}" class="nav__item-link">Магазин</a>
        </li>
        <li class="nav__item">
            <a href="{{baseUrl 'pages/about/index.html'}}" class="nav__item-link">О производстве</a>
        </li>
        <li class="nav__item">
            <a href="{{baseUrl 'pages/payment-and-delivery/index.html'}}" class="nav__item-link">Оплата и доставка</a>
        </li>
        <li class="nav__item">
            <a href="{{baseUrl 'pages/corporate-clients/index.html'}}" class="nav__item-link">Оптовым и корпоративным
                клиентам</a>
        </li>
        <li class="nav__item">
            <a href="{{baseUrl 'pages/news-and-posts/index.html'}}" class="nav__item-link">Новости и статьи</a>
        </li>
        <li class="nav__item">
            <a href="{{baseUrl 'pages/contact-info/index.html'}}" class="nav__item-link">Контакты</a>
        </li>
    </ul>
</nav>