<div class="container">
    <div class="news__header">
        <div class="news__text">
            <h2 class="news__title">
                Новости
            </h2>
            <div class="news__desc">
                Свежие новости и полезная информация
            </div>
        </div>
        <div class="news__swiper-controls">
            {{> partials/swiper-controls }}
        </div>
    </div>
    <div class="news__container">
        <div class="news__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
                <div class="swiper-slide">
                    {{> partials/news-card link="{{baseUrl 'pages/one-news/index.html'}}"}}
                </div>
            </div>
        </div>
    </div>
    <div class="news__button">
        <button type="button" class="transparent-btn">
            <a href="{{baseUrl 'pages/news-and-posts/index.html'}}">Смотреть все новости</a>
        </button>
    </div>
</div>