<div class="news-hero">
    <div class="news-hero__inner">
        <div class="news-hero__banner">
            <picture>
                <img src="/img/news-and-posts/big-new.png" alt="news-banner">
            </picture>
        </div>
        <div class="news-hero__content">
            <span class="news-hero__date date">
                12.04.2019
            </span>
            <h4 class="news-hero__title">
                Центр поддержки экспорта, в студии Павел Тулба
            </h4>
            <div class="news-hero__innertext">
                <p class="news-hero__paragraph">
                    Сельскохозяйственный обслуживающий кооператив
                    “Орех Причерноморья” предлагает своим клиентам
                    выгодные условия сотрудничества.
                </p>
                <p class="news-hero__paragraph">
                    Ореховый бизнес – один из наиболее перспективных
                    в Украине. Ежегодная нехватка продукта в Европе составляет 100 000 тонн. У Вас есть возможность
                    зарабатывать десятки тысяч долларов в год всего
                    на нескольких гектарах земли.
                </p>
            </div>
            {{> partials/news-card-link link=(baseUrl "pages/one-news/index.html")}}
        </div>
    </div>
</div>
