<div class="product-card">
    <div class="product-card__img-wrap">
        <div class="product-card__flag-wrap">
            <div class="product-card__flag-icon product-card__flag-icon--red">
                <svg>
                    <use href="#icon-product-flag"></use>
                </svg>
                <span>АКЦИЯ</span>
            </div>
        </div>
        <picture class="product-card__img">
            <img src="/img/products/product-card-1.png" alt="product" class="product-card__img">
        </picture>
        <div class="product-card__search-icon">
            <div class="product-card__search-icon--outer">
                <div class="product-card__search-icon--inner">
                    <svg>
                        <use href="#icon-search"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="product-card__slider-arrows">
            <svg class="product-card__slider-arrow product-card__slider-arrow--left">
                <use href="#icon-slider-arrow"></use>
            </svg>
            <svg class="product-card__slider-arrow product-card__slider-arrow--right">
                <use href="#icon-slider-arrow"></use>
            </svg>
        </div>
    </div>
    <div class="product-card__info">
        <h4 class="product-card__name">
            Грецкий орех
        </h4>
        <span class="product-card__number">
            Арт: 0091
        </span>
        <span class="product-card__desc">
            Орех сладкий, классический,
            очищенный
        </span>
        <div class="product-card__aux-info">
            <div class="product-card__weight-info">
                <div class="product-card__scales-icon">
                    <svg>
                        <use href="#icon-scales"></use>
                    </svg>
                </div>
                <span class="product-card__weight">
                    Масса:
                    <span>
                        40г.
                    </span>
                </span>
            </div>
            <div class="product-card__package-info">
                <div class="product-card__package-icon">
                    <svg>
                        <use href="#icon-package"></use>
                    </svg>
                </div>
                <span class="product-card__package">
                    Упаковка
                    <span>
                        вакуумная
                    </span>
                </span>
            </div>
        </div>
        <div class="product-card__price-info">
            <div class="product-card__price-border"></div>
            <div class="product-card__price-wrap">
                <span class="product-card__price">
                    <span class="product-card__price-label">Цена:</span>
                    <span class="product-card__actual-price">
                        19
                        <span>грн.</span>
                    </span>
                    <span class="product-card__old-price">
                        21
                        <span>грн.</span>
                    </span>
                </span>
                <button type="button" class="product-card__button main-btn">
                    Купить
                </button>
            </div>
        </div>
    </div>
</div>