<aside class="sidebar">
    <div class="sidebar__close-btn">
        <svg>
            <use href="#icon-close-button"></use>
        </svg>
    </div>
    <div class="sidebar__container">
        <div class="sidebar__logo">
            <div class="sidebar__logo">
                <a href="./">
                    <img src="/img/logo.png" alt="logo">
                    <span>ОРЕХ
                        ПРИЧЕРНОМОРЬЯ</span>
                </a>
            </div>
        </div>
    </div>
    <div class="user-coner">
        <div class="sidebar__container">
            <div class="sidebar__user-coner">
                <div class="auth">
                    <button type="button" class="auth__btn">
                        <div class="auth__user-icon">
                            <svg class="icon">
                                <use href="#icon-user"></use>
                            </svg>
                        </div>
                        Вход
                    </button>
                    <button type="button" class="auth__btn">Регистрация</button>
                </div>
                <div class="socials">
                    <a href="" class="head__socials-link">
                        <svg class="icon-social icon">
                            <use href="#icon-facebook"></use>
                        </svg>
                    </a>
                    <a href="" class="head__socials-link">
                        <svg class="icon-social icon">
                            <use href="#icon-instagram"></use>
                        </svg>
                    </a>
                    <a href="" class="head__socials-link">
                        <svg class="icon-social icon">
                            <use href="#icon-youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="sidebar__nav">
        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/catalog/index.html" class="sidebar__nav-item-link">Магазин</a>
                </div>
            </li>
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/about/index.html" class="sidebar__nav-item-link">О производстве</a>
                </div>
            </li>
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/payment-and-delivery/index.html" class="sidebar__nav-item-link">Оплата и
                        доставка</a>
                </div>
            </li>
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/corporate-clients/index.html" class="sidebar__nav-item-link">Оптовым и
                        корпоративным
                        клиентам</a>
                </div>
            </li>
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/news-and-posts/index.html" class="sidebar__nav-item-link">Новости и статьи</a>
                </div>
            </li>
            <li class="sidebar__nav-item">
                <div class="sidebar__container">
                    <a href="./pages/contact-info/index.html" class="sidebar__nav-item-link">Контакты</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="sidebar__banner">
        <!-- <img class="sidebar__banner-img" src="/img/sidebar-banner.png" alt="banner"> -->
        <p class="sidebar__banner-title">
            Орех Причерноморья
        </p>
        <span class="sidebar__banner-desc">
            Единственный в Украине сад
            совместного выращивания
            фундука и грецкого ореха
        </span>
    </div>
</aside>