<div class="user-cabinet-header">
    <h3 class="user-cabinet-header__title">
        {{title}}
    </h3>
    <div class="user-cabinet-header__manager-contact">
        <span class="user-cabinet-header__manager-contact-text">
            Ваш личный менеджер Олег
        </span>
        <a href="tel:+380677771412" class="user-cabinet-header__manager-contact-link">
            <svg>
                <use href="#icon-phone"></use>
            </svg>
            +38 067 777 14 12
        </a>
    </div>
</div>