@use "sass:map";
@use "@/scss/utils/vars" as *;
@use "@/scss/utils/mixins" as *;

.form {
    font-family: 'Montserrat', 'sans-serif';

    &__input {
        width: 100%;
        padding: 10px 0 10px 17px;
        border: 1px solid map.get($colors, border);
        color: map.get($colors, dark-blue);
        font-size: 14px;
        margin-bottom: 20px;
        transition: background .3s ease;
        transition: border .3s ease;

        &[type="checkbox"] {
            width: 16px;
            height: 16px;
            padding: 0;
            border: 1px solid map.get($colors, green);
            margin-right: 10px;
        }

        &:hover {
            background: map.get($colors, overlay-form);
            transition: background .3s ease;
        }

        &:focus {
            border: 1px solid map.get($colors, salad);
            background: #fff;
            transition: border .3s ease,
                background .3s ease;
        }
    }

    &__radio {
        &-input {
            position: absolute;
            width: 1px;
            height: 1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
        }

        &-label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            color: map.get($colors, dark-blue);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 15px;
                height: 15px;
                border: 2px solid map.get($colors, green);
                border-radius: 50%;
                background: #fff;
            }
        }

        &-input:checked+.form__radio-label::after {
            content: "";
            position: absolute;
            left: 4px;
            top: 4px;
            width: 7px;
            height: 7px;
            background: map.get($colors, green);
            border-radius: 50%;
        }
    }

    &__select {
        width: 100%;

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-control {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid map.get($colors, border);
            padding: 10px 17px;
            font-size: 14px;
            color: map.get($colors, dark-blue);
            transition: border .3s ease,
                background .3s ease;

            &:hover {
                background: map.get($colors, overlay-form);
                transition: background .3s ease;
            }

            &--active {
                border: 1px solid map.get($colors, salad);
                background: #fff;
                transition: border .3s ease,
                    background .3s ease;

                &:hover {
                    background: #fff;
                }
            }
        }

        &-arrow {
            width: 10px;
            height: 5px;
            transform: rotate(0deg);
            transition: transform .3s ease;

            svg {
                color: map.get($colors, salad);
                height: 8px;
            }

            &--active {
                transform: rotate(180deg);
                transition: transform .3s ease;
            }
        }

        &-dropdown {
            position: relative;
            width: 100%;
            display: flex;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            background: #fff;
            border-bottom: 1px solid map.get($colors, border);
            transition: opacity .3s ease;

            &--active {
                visibility: visible;
                opacity: 1;
                transition: opacity .3s ease;
            }
        }

        &-option {
            cursor: pointer;
            display: block;
            padding: 10px 17px;
            font-size: 14px;
            color: map.get($colors, dark-blue);
            text-align: left;
            background: transparent;
            flex-shrink: 0;
            border-bottom: 1px solid map.get($colors, border);
            border-left: 1px solid map.get($colors, border);
            border-right: 1px solid map.get($colors, border);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: map.get($colors, overlay-form);
                transition: background .3s ease;
            }

            &--active {
                background: map.get($colors, green);
                padding: 10px 17px;
                transition: background .3s ease,
                    color .3s ease;
                color: #fff;
                font-weight: 600;

                &:hover {
                    background: map.get($colors, green);
                }
            }
        }
    }

    &__multiselect {
        &-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        &-control {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid map.get($colors, border);
            padding: 15px 17px;
            font-size: 14px;
            font-weight: 600;
            color: map.get($colors, dark-blue);
            transition: border .3s ease,
                background .3s ease;

            &:hover {
                background: map.get($colors, overlay-form);
                transition: background .3s ease;
            }

            &--active {
                border: 1px solid map.get($colors, salad);
                background: #fff;
                transition: border .3s ease,
                    background .3s ease;

                &:hover {
                    background: #fff;
                }
            }
        }

        &-arrow {
            width: 10px;
            height: 5px;
            transform: rotate(0deg);
            transition: transform .3s ease;

            svg {
                color: map.get($colors, salad);
                height: 8px;
            }

            &--active {
                transform: rotate(180deg);
                transition: transform .3s ease;
            }
        }

        &-dropdown {
            position: absolute;
            top: 48px;
            width: 100%;
            display: flex;
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            background: #fff;
            border-bottom: 1px solid map.get($colors, border);
            transition: opacity .3s ease;
            z-index: 1;

            &--active {
                visibility: visible;
                opacity: 1;
                transition: opacity .3s ease;
            }
        }

        &-option {
            width: 100%;
            position: relative;
            cursor: pointer;
            display: block;
            font-size: 14px;
            color: map.get($colors, dark-blue);
            text-align: left;
            background: transparent;
            flex-shrink: 0;
            border-bottom: 1px solid map.get($colors, border);
            border-left: 1px solid map.get($colors, border);
            border-right: 1px solid map.get($colors, border);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: map.get($colors, overlay-form);
                transition: background .3s ease;
            }

            &:has(input:checked) {
                background: map.get($colors, green);
                transition: background .3s ease,
                    color .3s ease;
                color: #fff;
                font-weight: 600;

                &:hover {
                    background: map.get($colors, green);
                }
            }

            &-box {
                position: absolute;
                right: 17px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                border: 1px solid map.get($colors, border);
            }

            &-checkmark {
                display: none;
                position: absolute;
                right: 17px;
                top: 50%;
                transform: translateY(-50%);
                width: 9px;
                height: 9px;
                color: #fff;
            }

            &-checkbox {
                position: absolute;
                inset: 0;
                cursor: pointer;
                width: 100%;
                height: 100%;
                right: 17px;
                top: 50%;
                transform: translateY(-50%);

                &:checked~.form__multiselect-option-checkmark {
                    border: 1px solid map.get($colors, bg1);
                }

                &:checked~.form__multiselect-option-checkmark {
                    display: block;
                }
            }

            &-value {
                cursor: pointer;
                display: block;
                padding: 10px 17px;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__title {
        color: map.get($colors, dark-blue);
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        text-align: center;
    }

    &__link {
        color: map.get($colors, green);
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
        }
    }

    &__button {
        padding: 16px 0;
        margin-bottom: 18px;
    }
}

.form__checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.form__checkbox-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.form__checkbox-box {
    width: 16px;
    height: 16px;
    border: 2px solid #2e7d5b;
    position: relative;
    transition: all 0.2s ease;
}

.form__checkbox-box::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    border-left: 2px solid #2e7d5b;
    border-bottom: 2px solid #2e7d5b;
    transform: rotate(-45deg);
    top: 3px;
    left: 3px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.form__checkbox-input:checked+.form__checkbox-box::after {
    opacity: 1;
}

.form__checkbox-label:hover .form__checkbox-box {
    border-color: #1f5a3f;
}

.form__checkbox-text {
    font-size: 14px;
    color: #333;
}

.form__checkbox-link {
    color: map.get($colors, green);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.profile-upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-family: sans-serif;
}

.avatar-loader {
    position: relative;
    cursor: pointer;
    display: block;

    picture {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.hidden-input {
    display: none;
}

.avatar-placeholder {
    width: 131px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upload-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    border-bottom: 2px dashed white;
    padding-bottom: 2px;
}