@use 'sass:map';
@use '@/scss/utils/vars' as *;
@use '@/scss/utils/mixins' as *;

.cart-order-info {
    margin-bottom: 92px;

    &__title {
        color: map.get($colors, dark-blue);
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        text-align: center;
        margin-bottom: 12px;
    }

    &__links {
        text-align: center;

        span {
            color: map.get($colors, dark-blue);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
        }
    }

    &__link {
        color: #337D5A;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}