@use 'sass:map';
@use '@/scss/utils/vars' as *;
@use '@/scss/utils/mixins' as *;


.one-news {
    &__main {
        width: 100%;
        max-width: 990px;

        @include respond-to(laptop-m) {
            max-width: unset;
        }
    }

    &__inner {
        padding: 42px 0 53px 0;

    }

    &__wrap {
        display: flex;
        gap: 40px;
        justify-content: space-between;

        @include respond-to(laptop-m) {
            flex-wrap: wrap;
        }

        @include respond-to(mobile) {
            font-size: 25px;
        }
    }

    &__title {
        width: 100%;
        max-width: 476px;
        font-weight: 700;
        font-size: 32px;
        color: map.get($colors, dark-blue);
        margin-bottom: 12px;
    }

    &__date {
        font-size: 15px;
        margin-bottom: 32px;
    }

    &__img {
        margin-bottom: 29px;

        img {
            width: 100%;
            max-width: 990px;
            height: 595px;
            object-fit: cover;

            @include respond-to(laptop-m) {
                max-width: unset;
            }

            @include respond-to(tablet-l) {
                height: 400px;
            }

            @include respond-to(mobile) {
                height: 250px;
            }
        }
    }

    &__innertext {
        margin-bottom: 38px;
    }

    &__paragraph {
        font-weight: 500;
        font-size: 16px;
        color: map.get($colors, dark-blue);
        line-height: 1.5;
        margin-bottom: 17px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__sub-title {
        width: 100%;
        max-width: 600px;
        font-weight: 700;
        font-size: 24px;
        color: map.get($colors, dark-blue);
        margin-bottom: 26px;
    }

    &__title-mini {
        font-weight: 700;
        font-size: 16px;
        color: map.get($colors, dark-blue);
        margin-bottom: 5px;
    }

    &__list {
        list-style: disc;

        &-wrap {
            margin-bottom: 31px;
        }

        &-item {
            list-style-position: inside;
            font-weight: 500;
            font-size: 16px;
            color: map.get($colors, dark-blue);
            margin-bottom: 10px;

            span {
                margin-left: 7px;
            }
        }
    }

    &__side {
        width: 100%;
        max-width: 260px;

        @include respond-to(laptop-m) {
            max-width: unset;
        }
    }

    &__last-posts {
        padding: 20px;
        background: map.get($colors, bg2);
        margin-bottom: 35px;

        @include respond-to (laptop-m) {
            margin-bottom: 0;
        }

        &-title {
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: map.get($colors, dark-blue);
            margin-bottom: 18px;
        }

        &-wrap {
            @include respond-to(laptop-m) {
                display: flex;
                gap: 30px;
                align-items: start;
            }

            @include respond-to(tablet-l) {
                flex-direction: column;
            }
        }

        .news__card {
            margin-bottom: 40px;

            @include respond-to(laptop-m) {
                max-width: unset;
                margin-bottom: unset;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &-preview {
                height: 163px;
                margin-bottom: 12px;

                @include respond-to(tablet-l) {
                    height: 300px;
                }

                @include respond-to(mobile) {
                    height: 150px;
                }
            }

            &-info {
                padding: unset;

                @include respond-to(laptop-m) {
                    padding: 10px;
                }

                @include respond-to(tablet-l) {
                    padding: 25px;
                }

                @include respond-to(mobile) {
                    padding: 10px;
                }
            }

            &-title {
                font-size: 15px;
                margin-bottom: 4px;

                @include respond-to(laptop-m) {
                    margin-bottom: 15px;
                }
            }

            &-desc {
                display: none;
            }
        }
    }

    &__socials {
        width: 100%;
        height: 226px;
        background: map.get($colors, green);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &-inner {
            width: 100%;
            max-width: 198px;
            justify-content: center;
            align-items: center;
            text-align: center;

            .socials {
                width: fit-content;
                margin: 0 auto;
            }

            .icon {
                color: #fff;
            }
        }

        &-title {
            font-weight: 800;
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &-desc {
            font-weight: 600;
            font-size: 17px;
            color: map.get($colors, bg2);
            display: block;
            margin-bottom: 35px;
        }

        @include respond-to (laptop-m) {
            display: none;
        }
    }
}