@use "sass:map";
@use "@/scss/utils/vars" as *;
@use "@/scss/utils/mixins" as *;

.password-recovery__form {

    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 47px;
        width: 100%;
        max-width: 410px;
        margin: 0 auto;
        text-align: center;
        padding: 20px 0 96px 0;
    }

    &-title {
        margin-bottom: 22px;
    }

    &-group {
        position: relative;
    }

    &-header {
        &-message {
            margin-bottom: 20px;
        }

        &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: map.get($colors, dark-blue);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            gap: 0 10px;
            margin-bottom: 15px;

            svg {
                width: 19px;
                height: 19px;
                color: map.get($colors, green);
            }
        }

        &-desc {
            color: map.get($colors, grey);
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
        }
    }

    &-input {
        padding: 14px 0 14px 17px;
        margin-bottom: 14px;
    }

    &-button {
        width: 100%;
        max-width: 245px;
        font-size: 16px;
        padding: 15px 0px;
    }
}